<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${user.name} + '\'s profile'"></h1>
<div>
    <h2 th:text="${user.name} + '\'s posts'"></h2>
    <ul>
        <th:block th:each="post: ${userPosts}">
            <li th:text="'Header: ' + ${post.header} + '; Message: ' + ${post.content}"></li>
        </th:block>
    </ul>
</div>
<a href="/posts/post">Submit a message</a>
<a href="/posts/">View posts</a>
<a href="/user/">View users</a>
</body>
</html>